@import '../../../variables.scss';

.partners-list {
    .swiper {
        padding: 20px;
    }
}

.partner-item {
    display: grid;
    place-items: center;
    border-radius: 50px;

    position: relative;
    z-index: 50150;

    cursor: pointer;

    height: 370px;        
    box-shadow: 1px 1px 30px #c5c4c4;

    transition: transform .3s ease;

    img {
        width: 300px;
        margin: 0 auto;
    }

    &:hover {
        transform: scale(.9);
        z-index: 510501501;
    }

    &__name {
        font-size: 3.1rem;
    }

    &__link {
        font-size: 1.8rem;
        text-decoration: underline;
    }

    &__info {
        align-self: center;
    }

    &.partners-page {
        width: 30%;
        border-radius: 90px;
        height: 505px;
        position: relative;
        border-bottom-left-radius: 0;
        background: #fff;

        transition: height .5s ease;

        &:hover {
            transform: scale(1);
        }

        &:nth-child(3n) {
            transition: transform 1.5s ease;

            &.no-feedback {
                transition: transform .5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }

            &:hover {
                transform: translateX(-100%);
            }
        }

        &.no-feedback {
            transition: transform .5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__rating {
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 50;

        img {
            width: auto;

            height: 37px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;

        img {
            &:last-child {
                max-width: 220px;
            }
        }
    }
}

.fade-out {
    animation: fadeOut .5s ease forwards;
}

.fade-in {
    opacity: 0;
    display: none;
    animation: fadeIn .5s ease forwards;
    animation-delay: 1s;
    box-shadow: 1px 1px 30px #c5c4c4;
    border-radius: 90px;
    border-bottom-left-radius: 0;
    padding: 50px;
    background: #fff;
    overflow: hidden;
    
    &.visible {
        display: block;
        opacity: 1;

        animation: grow 1.5s ease forwards;
    }

    position: absolute;
    top: 0;
    left: 0;
    z-index: 123983412837128937;
    width: 100%;
    height: 100%;
}

.feedbacks {
    h4 {
        font-weight: 600;
        font-size: 2.7rem;
        margin-bottom: 40px;
    }

    p {
        font-size: 2.7rem;

        &:not(:last-child) {
            margin-bottom: 100px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes grow {
    from {
        width: 100%;
        height: 100%;
    }

    to {
        width: 200%;
        height: 200%;
    }
}