.breadcrumbs {
    font-size: 2.7rem;

    padding-top: 50px;

    .container {
        display: flex;
    }

    span {
        display: block;

        a {
            cursor: pointer;
            color: #000;
        }
    }

    &__separator {
        margin: 0 30px;
    }
}