@import './variables.scss'; 

@mixin colorTextWithGradient {
    background: linear-gradient($gradientColorYellow,$gradientColorPink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}